<html>
<head>
	<title>Slide Navbar</title>

</head>
<body>
	<div class="main">  	
		

			<div class="signup">
				<form>
					<h1 class="text-black">Add Tenant</h1>
					<input type="text" name="txt" placeholder="Tenant Name" required="">
					<input type="email" name="email" placeholder="Email ID" required="">
                    <input type="text" name="number" placeholder="Phone number" required="">

                    
                    <button id="imageUpload">
                        <i class="fas fa-upload"></i> Upload Image
                    </button>
                   
                
                    
					
                    <button class="button1">Sign up</button>
                    <button class="button1">Clear</button>
				</form>
			</div>

			
	</div>
</body>
</html>