
  <html>
<head>

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary p-3 shadow-lg">
    <div class="container-fluid d-flex align-items-center">
      <div class="d-flex align-items-center">
        <div class="logo-wrapper rounded-circle overflow-hidden">
          <img src="assets/Softiwa.JPG" alt="Logo" class="img-fluid rounded-circle">
        </div>
        <span class="navbar-brand text-white ms-3 fs-4">Super Admin Dashboard</span>
      </div>
      <div class="d-flex gap-3">
        <a routerLink="add-tenant" class="btn btn-dark">Create Tenant</a>
        <a class="btn btn-danger" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>
  
  <div class="content-wrapper bg-light min-vh-100 p-4">
    <router-outlet></router-outlet>
  </div>
</body>
</html>
